
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Form</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="vendor/nouislider/nouislider.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

<div class="container mb-5 py-6">
    <h1 class="text-center">Register</h1>
    <div class="signup-form">
                    <form method="post" class="register-form" id="register-form" action="/detail">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="first_name" class="required">First name</label>
                                    <input type="text" name="first_name" id="first_name" />
                                </div>
                                <div class="form-input">
                                    <label for="last_name" class="required">Last name</label>
                                    <input type="text" name="last_name" id="last_name" />
                                </div>
                                <div class="form-input">
                                    <label for="email" class="required">Email</label>
                                    <input type="text" name="email" id="email" />
                                </div>

                                <div class="form-input">
                                    <label for="phone_number" class="required">Phone number</label>
                                    <input type="text" name="phone_number" id="phone_number" />
                                </div>
                                
                                <div class="form-input">
                                    <label class="required" for="id_password">Password:</label> <input type="password" name="password" required id="id_password">
                                    <input type="hidden" name="next" >
                                </div>

                                <div class="form-input">
                                    <label class="required" for="id_password">Confirm password:</label> <input type="password" name="repassword"required id="id_password">
                                    <input type="hidden" name="next" >
                                </div>

			<div class="form-submit">
                            <input type="submit" value="Submit" class="submit" id="submit" name="submit" />
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>
<html>
